.my-liquidity-div{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #fff;
    border-radius: 13px;
    height: fit-content;
    padding: 40px;
    margin-top: 20px;
}

.my-liq-head{

    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    text-align: left;
    color: #413AE2;

}

.my-liq-sub-head{

    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    color: #5F5F5F;
    margin-top: 8px;
    
}

.divider{
    height: 1px;
    width: 100%;
    background-color: #5F5F5F;
    margin-top: 30px;
}

.phnx-eth{
    display: flex;
    align-items: baseline;
    margin-top: 7px;
    padding: 0;
}

.phnx-eth-no{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
}

.phnx-eth-logo{
    height: 19px;
    width: 19px;
    margin: 3px;
}

.phnx-eth-txt{
    font-size: large;
}

.pooled-item{
    display: flex;
}

.pooled-item-txt{
    text-transform:uppercase;
    font-size: medium;
    font-weight: 500;
}

.remove-btn{
    width: 100%;
    background-color: #413AE2;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color: #fff;
    border-radius: 9px;
    border: 0;
    padding: 13px;
    margin-top: 30px;

}

.add-liquidity-btn{
    width: 100%;
    background-color: #413AE2;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color: #fff;
    border-radius: 9px;
    border: 0;
    padding: 11px;
    margin-top: 20px;
    border: solid 1px #413AE2;
    background-color: #fff;
    color: #413AE2;
}