.rm-liq-div{
  width: 450px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 25px;
}

.rm-liq-Logo{
  width: 100px;
}

.rm-liq-heading{
  color: #413AE2;
  font-size: 20px;
  font-weight: bold;
  margin-top: 7px;
}

.rm-liq-ps-div{
  display: flex;
  margin-top: 20px;
  align-items: center;
  
}

.rm-liq-ps{
  color: #000;
  font-weight: bold;
  font-size: 17px;
  background-color: #eee;
  padding: 7px 10px;
  border-radius: 15px ;
  margin-right: 15px;
  cursor: pointer;
  user-select: none;
}

.rm-liq-ps-input-div{
  margin-top: 20px;
}

.rm-liq-ps-input{
  width: 100%;
  background-color: #fff;
  border: solid 1px #eee;
  border-radius: 5px;
  font-size: 15px;
  padding: 13px;


}

.rm-liq-u-will-rec{
  margin-top: 15px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #73727D;
}

.rm-liq-phnx-eth-det-div{
  background:  #c3b7ff2b;
  border :solid 1px #E2E1FF;
  border-radius: 10px;
  padding: 10px;
}

.rm-liq-phnx-eth-det{
  display: flex;
  align-items: center;
}

.rm-liq-phnx-eth-img{
  height: 30px;
  width: 30px;
}

.rm-liq-phnx-eth-name{
  font-size: 18px;
  margin-left: 10px;
}

.rm-liq-phnx-eth-number{
  font-size: 18px;
  margin-left: auto;
  color: #4E4E55;
  
}

.rm-liq-phnx-eth-con-div{
  width: 100%;
}

.rm-liq-phnx-eth-con{

  margin-left: auto;
  text-align: end;
  color: #4E4E55;
}